filter {
  if [message] =~ ".*open.*" {
    mutate {
      add_field => {"status" => "OK" }
    }
  } else {
    mutate {
      add_field => {"status" => "CRIT" }
    }
  }
  mutate {
     add_field => {"orig_timestamp" => "%{@timestamp}" }
  }
}
