input {
    kafka {
        bootstrap_servers => "{{ zk_nodes }}"
        topics_pattern => "{{ datacenter }}-GEO-cs_report|{{ datacenter }}-GEO-ca_report"
        auto_offset_reset => "smallest"
        add_field => {
          log_host => "{{ ansible_hostname }}"
          log_instance => "{{ lr_name }}"
          log_dc => "{{ datacenter }}"
        }
    }
}
